{% extends 'base.html' %}
{% block content %}
<h2>Contact Me</h2>

<div class="contact-container">

    <div class="contact-card">
        <h3>📧 Email</h3>
        <p><a href="mailto:200080236aids@gmail.com">200080236aids@gmail.com</a></p>
    </div>

    <div class="contact-card">
        <h3>💼 LinkedIn</h3>
        <p><a href="https://www.linkedin.com/in/konakala-visanth/" target="_blank">linkedin.com/in/konakala-visanth</a></p>
    </div>

    <div class="contact-card">
        <h3>💻 GitHub</h3>
        <p><a href="https://github.com/Visanth1249" target="_blank">github.com/Visanth1249</a></p>
    </div>

    <div class="contact-card">
        <h3>📱 Phone</h3>
        <p><a href="tel:+919032336733">+91 9032336733</a></p>
    </div>
    <div class="contact-card">
    <h3>📍 Location</h3>
    <p>Vijayawada,Andhra Pradesh, India</p>
  </div>

</div>
{% endblock %}
