{% extends 'base.html' %}
{% block content %}
<h2>My Skills</h2>

<div class="skills-container">
    <div class="skill-card">
        <h3>💻 Languages</h3>
        <ul>
            <li>Python</li>
            <li>Java</li>
            <li>C</li>
        </ul>
    </div>

    <div class="skill-card">
        <h3>🌐 Web Development</h3>
        <ul>
            <li>Django</li>
            <li>React.js</li>
            <li>Node.js</li>
        </ul>
    </div>

    <div class="skill-card">
        <h3>📊 Data Analysis</h3>
        <ul>
            <li>Pandas</li>
            <li>NumPy</li>
            <li>Tableau</li>
            <li>Power BI</li>
        </ul>
    </div>

    <div class="skill-card">
        <h3>🤖 Machine Learning</h3>
        <ul>
            <li>TensorFlow</li>
            <li>Scikit-learn</li>
        </ul>
    </div>

    <div class="skill-card">
        <h3>🛠 Tools & Platforms</h3>
        <ul>
<!--            <li>Git</li>-->
<!--            <li>Agile</li>-->
            <li>AWS</li>
            <li>Azure</li>
        </ul>
    </div>
</div>
{% endblock %}
